<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the lands i've walked upon</title>
    <link rel="stylesheet" href="/styles/index.css" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="alternate icon" href="/favicon.ico" /> -->
    <!-- <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff8a01" /> -->
  </head>
  <body>
    <main>
      <h1 class="heading">the lands i've walked upon</h1>
      <p class="poem">
        the woods were lovely dark and deep, <br />
        but i had promises to keep
      </p>
      <ul role="list" class="timeline">
        <!-- Empty image alts until i can find a better way to caption them -->
        {% for image in images reversed %} {% if image.gps.longitude %}
        <li class="item">
          <div class="photo">
            {% image image.file , "" %}
            <span>
              {{ image.date | date: '%e %B %Y' }}
            </span>
          </div>
          <div class="map">
            <!-- @todo: hide token-->
            <img src="{{ image.gpsImage }}" loading="lazy" alt="" />
            <span>
              {{ image.name }}
            </span>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </main>
    <script src="./script.js"></script>
  </body>
</html>
