@import '_reset.scss';
@import 'fonts.scss';

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  .heading {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
  }
  .poem {
    font-family: 'Space Mono', monospace;
    margin-top: 2rem;
  }
  .timeline {
    margin-top: 2rem;
  }
  .item {
    img {
      max-width: 400px;
      display: inline-flex;
    }
  }
}
